.activity-card {
    min-height: 350px;
    /* background: radial-gradient(rgb(255, 247, 239), rgb(255, 234, 214)); */
    background-color: rgb(253, 242, 230);
    border: 0px;
    border-radius: 1rem;
}

.stats-card {
    min-height: 150px;
    background: radial-gradient(rgb(238, 248, 255), rgb(198, 233, 255));
    /* background-color: rgb(187, 229, 255); */
    border: 0px;
    border-radius: 1rem;
    text-align: center;
}

.card-header {
    background-color: transparent;
    border: 0px;
    text-align: center;
}